body {
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid black;
  height: 7vh;
  align-items: center;
}

.span-1 {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

#loginButton {
  width: 29%;
  height: 50%;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
}

.bannerArea {
  background-color: yellow;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerText {
  margin-left: -76px;
  margin-top: -220px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.bannerQuote {
  margin-top: -38px;
  margin-left: -230px;
  font-size: larger;
}

#bannerButton {
  border: none;
  height: 32px;
  width: 80px;
  margin-top: 92px;
  margin-left: -139px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

ul {
  display: flex;
}

.productsCard {
  width: 260px;
  height: 230px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSection {
  width: 99%;
  height: 13vh;
  margin-top: -17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: wheat;
}

.adminHeading {
  color: blue;
  font-size: 3vh;
}

#adminLogout {
  margin-right: 24px;
  width: 100px;
  border-radius: 10px;
  height: 30px;
  background-color: blue;
  color: white;
  border: none;
  justify-content: center;
  align-content: center;
}

.addProductsection {
  padding: 10px;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

.inputAdmin {
  padding: 8px 10px;
  font-size: 14px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#displayitems {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 1%;
  gap: 10px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.items {
  width: 50%;
  height: 55px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.editButton {
  width: 115%;
}

.deleteButton {
      width: 58%;
}

.buttonspan {
  display: flex;
  gap: 10px;
  margin-right: 60px;
}

.textSpan{
    display: flex;
    margin-bottom: 10px;
}
